---
---

@import "{{ site.theme }}";

a.nav {
    color: white;
}

div#page-header div#header img {
 width:600px; /* the width of the logo image */
 height:450px; /* the height of the logo image */
 margin:0 auto;
}
