---
---

@import "{{ site.theme }}";

a.nav {
    color: white;
}

div#page-header div#header img {
 width:300px; /* the width of the logo image */
 height:225px; /* the height of the logo image */
 margin:0 auto;
 text-align:left;
}
