---
---

@import "{{ site.theme }}";

a.nav {
    color: white;
}

div#page-header div#header img {
 width:250px; /* the width of the logo image */
 height:188px; /* the height of the logo image */
 margin:0 auto;
}

.column {
    float: left;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}
